asyncpg
aiofiles
aiohttp
pytesseract
aiohttp_jinja2
markdown2
setproctitle
sly
discord.py
numpy
opencv-python
git+https://github.com/iamtomahawkx/math-parser.git
pillow>=10.0.1 # not directly required, pinned by Snyk to avoid a vulnerability